<rulers/>
<div uib-popover="{{tooltiptext}}" data-ng-controller="GardensController" ng-init="newGarden()" garden='create' on-resize="updateGarden()" style="width: {{ garden.elemwidth }}px; height: {{ garden.elemheight }}px; top: {{ garden.elemtop }}px; left: {{ garden.elemleft }}px;"></div>
<layer style="postion:absolute">
  <form data-ng-controller="FormController" id="submitForm" dragtool="2" class="form-horizontal" data-ng-submit="create()" novalidate>
    <fieldset>
      <label class="control-label" for="name">Regelset: (optioneel)</label>
      <div class="controls">
        <select data-ng-options="crop._id as crop.name for crop in vm.crops" data-ng-model="vm.plantvariety.crop" id="crop"></select>
      </div>
      <input calendar ng-model="garden.selectedDate"></input>
      <label class="control-label" for="name">Naam</label>
      <div class="controls">
        <input type="text" data-ng-model="garden.name" id="name" class="form-control" placeholder="{{ authentication.user.firstName }}'s moestuin" required>
      </div>
      <label class="control-label" for="elemtop">Afstand van boven:</label>
      <div class="controls">
        <input type="text" id="elemtop" class="form-control" data-ng-model="garden.elemtop">
      </div>
      <label class="control-label" for="elemleft">Afstand van links:</label>
      <div class="controls">
        <input type="text" id="elemleft" class="form-control" data-ng-model="garden.elemleft">
      </div>
      <label class="control-label" for="elemwidth">Lengte:</label>
      <div class="controls">
        <input type="text" id="elemwidth" class="form-control" data-ng-model="garden.elemwidth">
      </div>
      <label class="control-label" for="elemheight">Breedte:</label>
      <div class="controls">
        <input type="text" id="elemheight" class="form-control" data-ng-model="garden.elemheight">
      </div>
      <br/>

      <div class="controls">
        <button type="submit" class="btn btn-success btn-lg btn-block">
          <span class="glyphicon glyphicon-ok"></span>
          Opslaan
        </button>
      </div>

      <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
      </div>
      <br/>
    </fieldset>
  </form>
</layer>
