<rulers></rulers>
<div class="layoutgarden" id="garden" garden="create" popover="{{tooltiptext}}" data-ng-init="init()" style="box-shadow:0px 0px 0px 3px blue inset; width: {{ vm.garden.elemwidth }}px; height: {{ vm.garden.elemheight }}px; top: {{ vm.garden.elemtop }}px; left: {{ vm.garden.elemleft }}px;" >
<div gardenpart  ng-repeat="gardenpart in vm.garden.gardenparts" ng-controller="GardenpartController" ng-init="gardenpart=gardenpart" class="gardenpart" style="width: {{ gardenpart.elemwidth }}px; height: {{ gardenpart.elemheight }}px; top: {{ gardenpart.elemtop }}px; left: {{ gardenpart.elemleft }}px;" ></div>
</div>
<layer>
  <form dragtool="{{vm.selectedDate}}" class="form-horizontal" name="vm.form.gardenForm" class="form-horizontal" ng-submit="vm.save(vm.form.gardenForm.$valid)" novalidate>
    <fieldset>
      <label class="control-label" for="ruleset" translate>ruleset_optional</label>
      <div class="controls">
        <select data-ng-options="set._id as set.name for set in vm.rulesets" ng-selected="{{ !vm.garden._id ? set._id === '5688553504e0daf62b4b8906': set._id === vm.garden.ruleset}}" data-ng-model="vm.garden.ruleset" id="ruleset"></select>
      </div>
      <div class="input-group" ng-hide="vm.garden._id">
        <label class="control-label" for="name" translate>startdate</label>
        <div class="controls">
          <input calendar ng-model="vm.selectedDate"></input>
        </div>
      </div>
      <div class="input-group" show-errors>
        <label class="control-label" for="name" translate>name</label>
        <input name="name" id="name" type="text" data-ng-model="vm.garden.name" class="form-control" placeholder="{{ vm.authentication.user.firstName }}'s moestuin" required></input>
        <div ng-messages="vm.form.gardenForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required" translate>garden_name_required</p>
        </div>
      </div>
      <label class="control-label" for="elemtop" translate>distance_from_top</label>
      <div class="controls">
        <input ng-disabled="vm.garden._id" type="text" id="elemtop" class="form-control" data-ng-model="vm.garden.elemtop"></input>
      </div>
      <label class="control-label" for="elemleft" translate>distance_from_left</label>
      <div class="controls">
        <input ng-disabled="vm.garden._id"  type="text" id="elemleft" class="form-control" data-ng-model="vm.garden.elemleft"></input>
      </div>
      <label class="control-label" for="elemwidth" translate>length</label>
      <div class="controls">
        <input ng-disabled="vm.garden._id" type="text" id="elemwidth" class="form-control" data-ng-model="vm.garden.elemwidth"></input>
      </div>
      <label class="control-label" for="elemheight" translate>width</label>
      <div class="controls">
        <input ng-disabled="vm.garden._id" type="text" id="elemheight" class="form-control" data-ng-model="vm.garden.elemheight"></input>
      </div>
      <br/>
      <label class="control-label" for="name" translate>keepers</label>
      <div class="controls">
        <input type="text" myenter data-ng-model="vm.newkeeper" />
      </div>
      <div class="controls">
          <span ng-repeat="keeper in vm.garden.keepers" >{{keeper.username}}<el ng-show="!$last">,<el></span>
      </div>
      <div class="controls">
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <button type="submit" class="btn btn-success btn-lg" translate>
          <span class="glyphicon glyphicon-ok"></span>
          {{vm.garden._id ? 'update' : 'create'}}
        </button>
          <button class="btn btn-primary" ng-click="back()">
          <i class="glyphicon glyphicon-step-backward"></i>
        </button>
      </div>
      <br>
    </fieldset>
  </form>
</layer>
