<section class="content">
  <section class="container">
    <section>
      <div class="page-header">
        <h1 translate>gardens</h1>
      </div>
      <div class="list-group">
        <a ng-if="vm.plant" data-ng-repeat="garden in vm.gardens" ui-sref="plantGarden({bk: garden.bk, selectedDate: vm.selectedDate, plant: vm.plant})" class="list-group-item">
          <small class="list-group-item-text" >
            <span translate>{{ 'posted_on'|translate:{date:garden.created} }}</span>
            <span translate>by</span>
            <span ng-if="garden.user" ng-bind="garden.user.displayName"></span>
            <span ng-if="!garden.user">Deleted User</span>
          </small>
          <h4 class="list-group-item-heading" ng-bind="garden.name"></h4>
          <p class="list-group-item-text" ng-bind="garden.content"></p>
        </a>
        <a ng-if="!vm.plant" data-ng-repeat="garden in vm.gardens" ui-sref="viewGarden({bk: garden.bk, selectedDate: vm.selectedDate, plant: vm.plant})" class="list-group-item">
          <small class="list-group-item-text">
            <span translate>{{ 'posted_on'|translate:{date:garden.created} }}</span>
            <span translate>by</span>
            <span ng-if="garden.user" ng-bind="garden.user.displayName"></span>
            <span ng-if="!garden.user">Deleted User</span>
          </small>
          <h4 class="list-group-item-heading" ng-bind="garden.name"></h4>
          <p class="list-group-item-text" ng-bind="garden.content"></p>
        </a>
      </div>
      <div class="alert alert-warning text-center" ng-if="vm.gardens.$resolved && !vm.gardens.length">
        No gardens yet, why don't you
        <a ui-sref="createGarden">create one</a>?
      </div>
    </section>
  </section>
</section>
