<section class="content">
  <section class="container">
<section>
  <div class="page-header">
    <div class="pull-right" ng-show="vm.garden.isAllowedEdit">
      <a class="btn btn-default" ui-sref="editGarden({bk:vm.garden.bk, selectedDate: vm.selectedDate })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-default" ui-sref="designGarden({gardenId:vm.garden._id, selectedDate: vm.selectedDate })">
        <i class="glyphicon glyphicon-pencil"></i>
      </a>
      <a class="btn btn-danger" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <div class="pull-right">
      Select date:
      <input calendar="edit" ng-model='vm.selectedDate'/>
    </div>
    <h1 ng-bind="vm.garden.name"></h1>
  </div>
  <div zoomable id="garden" style="width: {{ vm.garden.elemwidth * vm.zoom }}px; height: {{ vm.garden.elemheight * vm.zoom }}px;" class="garden">
    <div planting ng-repeat="planting in vm.garden.plantings" ng-init="planting=planting" popover-template="modules/gardens/views/planting-popover.client.view.html" popover-template-trigger="customEvent" ng-mouseenter="popoverEvent()" ng-mouseleave="popoverEvent()" class="planting" style="background: url({{planting.plantVariety.image}}); width: {{ planting.elemwidth*vm.zoom }}px; height: {{ planting.elemheight*vm.zoom }}px; top: {{ planting.elemtop*vm.zoom }}px; left: {{ planting.elemleft*vm.zoom }}px;"></div>
    <a data-ng-href="/gardenparts/{{gardenpart.bk}}/{{vm.selectedDate}}" gardenpart ng-repeat="gardenpart in vm.garden.gardenparts" ng-controller="GardenpartController" ng-init="gardenpart=gardenpart" class="gardenpart" style="width: {{ gardenpart.elemwidth*vm.zoom }}px; height: {{ gardenpart.elemheight*vm.zoom }}px; top: {{ gardenpart.elemtop*vm.zoom }}px; left: {{ gardenpart.elemleft*vm.zoom }}px;">
  <!--    <div class="planting" ng-repeat="pastplanting in gardenpart.pastplantings" ng-init="pastplanting=pastplanting"
           style="background: rgba({{pastplanting.redlevel}}, {{pastplanting.greenlevel}}, 0, {{ pastplanting.opacity }}) 0 0; width: {{ pastplanting.elemwidth*vm.zoom }}px; height: {{ pastplanting.elemheight*vm.zoom }}px; top: {{ pastplanting.elemtop*vm.zoom }}px; left: {{ pastplanting.elemleft*vm.zoom }}px;"></div>-->
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.garden.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.garden.user" ng-bind="vm.garden.user.displayName"></span>
      <span ng-if="!vm.garden.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.garden.content"></p>
</section>
</section>
</section>
