<section class="content">
  <section class="container">
<section>
  <div class="page-header">
    <div class="pull-right" ng-show="vm.garden.isAllowedEdit">
      <a class="btn btn-default" ui-sref="editGarden({bk:vm.garden.bk, selectedDate: vm.selectedDate })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-default" ui-sref="designGarden({gardenId:vm.garden._id, selectedDate: vm.selectedDate })">
        <i class="glyphicon glyphicon-pencil"></i>
      </a>
      <a class="btn btn-danger" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <div class="pull-right">
      Select date:
      <input calendar="edit" ng-model='vm.selectedDate'/>
      <a class="btn btn-default" ng-click="zoomIn()">
        <i class="glyphicon glyphicon-zoom-in"></i>
      </a>
      <a class="btn btn-default" ng-click="zoomOut()">
        <i class="glyphicon glyphicon-zoom-out"></i>
      </a>
      <a class="btn btn-primary" ng-click="back()">
        <i class="glyphicon glyphicon-step-backward"></i>
      </a>
    </div>
    <h1>{{vm.selectedDate}}: {{vm.garden.name}}</h1>
  </div>
  <div zoomable id="garden" style="width: {{ vm.garden.elemwidth * vm.zoom }}px; height: {{ vm.garden.elemheight * vm.zoom }}px;" class="garden">

    <a data-ng-href="/gardenparts/{{gardenpart.bk}}/{{vm.selectedDate}}/{{vm.plant}}" gardenpart ng-repeat="gardenpart in vm.garden.gardenparts" ng-controller="GardenpartController" ng-init="gardenpart=gardenpart" class="gardenpart" style="border: 2px; border-style: solid;width: {{ gardenpart.elemwidth*vm.zoom }}px; height: {{ gardenpart.elemheight*vm.zoom }}px; top: {{ gardenpart.elemtop*vm.zoom }}px; left: {{ gardenpart.elemleft*vm.zoom }}px;">
      <div class="planting" ng-repeat="pastplanting in gardenpart.pastplantings" ng-init="pastplanting=pastplanting"
           style="background: rgba({{pastplanting.redlevel}}, {{pastplanting.greenlevel}}, 0, {{ pastplanting.opacity }}) 0 0; width: {{ pastplanting.elemwidth*vm.zoom }}px; height: {{ pastplanting.elemheight*vm.zoom }}px; top: {{ pastplanting.elemtop*vm.zoom }}px; left: {{ pastplanting.elemleft*vm.zoom }}px;"
              ></div>
<div planting ng-if="planting.orientation === 'horizontal'" ng-repeat="planting in gardenpart.plantings" ng-init="planting=planting" uib-popover-template="'/modules/gardenparts/client/views/popover.client.view.html'" popover-placement="right" popover-trigger="mouseenter" class="planting" style="background: url({{planting.plantVariety.image}}); background-size: {{planting.plantVariety.cmInRow*vm.zoom}}px {{planting.plantVariety.cmBetweenRow*vm.zoom}}px; width: {{ planting.elemwidth*vm.zoom }}px; height: {{ planting.elemheight*vm.zoom }}px; top: {{ planting.elemtop*vm.zoom }}px; left: {{ planting.elemleft*vm.zoom }}px;"></div>
<div planting ng-if="planting.orientation === 'vertical'" ng-repeat="planting in gardenpart.plantings" ng-init="planting=planting" uib-popover-template="'/modules/gardenparts/client/views/popover.client.view.html'" popover-placement="right" popover-trigger="mouseenter" class="planting" style="background: url({{planting.plantVariety.image}}); background-size: {{planting.plantVariety.cmBetweenRow*vm.zoom}}px {{planting.plantVariety.cmInRow*vm.zoom}}px; width: {{ planting.elemwidth*vm.zoom }}px; height: {{ planting.elemheight*vm.zoom }}px; top: {{ planting.elemtop*vm.zoom }}px; left: {{ planting.elemleft*vm.zoom }}px;"></div>
    </a>
  </div>
  <small>
    <em class="text-muted">
        <span translate>{{ 'posted_on'|translate:{date:vm.garden.created} }}</span>
        <span translate>by</span>
      <span ng-if="vm.garden.user" ng-bind="vm.garden.user.displayName"></span>
      <span ng-if="!vm.garden.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.garden.content"></p>
</section>
</section>
</section>
