<section class="content">
  <section class="container">
<section>
  <div class="page-header">
    <h1 ng-bind="vm.notification.title"></h1>
  </div>
  <small>
    <em class="text-muted">
         <span translate>{{ 'posted_on'|translate:{date:vm.notification.created} }}</span>
        <span translate>by</span>
      <span ng-if="vm.notification.user" ng-bind="vm.notification.user.displayName"></span>
      <span ng-if="!vm.notification.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.notification.content"></p>
</section>
</section>
</section>
