<section class="content">
  <section class="container">
    <section>
      <div class="page-header">
        <h1 translate>{{vm.plantvariety._id ? 'edit_plant_variety' : 'add_plant_variety'}}</h1>
      </div>
      <div class="col-md-12">
        <form name="vm.form.plantvarietyForm" class="form-horizontal" ng-submit="vm.save(vm.form.plantvarietyForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group" show-errors>
              <label class="control-label" for="name" translate>name</label>
              <input name="title" type="text" ng-model="vm.plantvariety.name" id="name" class="form-control" placeholder="Naam" required></input>
              <div ng-messages="vm.form.plantvarietyForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">plant_variety_name_is_required</p>
              </div>
            </div>
            <label class="control-label" for="crop" translate>crop</label>
            <div class="controls">
              <select data-ng-options="crop._id as crop.name for crop in vm.crops" data-ng-model="vm.plantvariety.crop" id="crop"></select>
            </div>
            <label class="control-label" for="DOYstartSow" translate>start_doy</label>
            <div class="controls">
              <input doypicker type="text" data-ng-model="vm.plantvariety.DOYstartSow" id="DOYstartSow" class="form-control" required></input>
            </div>
            <label class="control-label" for="DOYendSow" translate>end_doy</label>
            <div class="controls">
              <input doypicker  type="text" data-ng-model="vm.plantvariety.DOYendSow" id="DOYendSow" class="form-control" required></input>
            </div>
            <label class="control-label" for="minGrowthDuration" translate>minimal_growth_duration</label>
            <div class="controls">
              <input   type="text" data-ng-model="vm.plantvariety.minGrowthDuration" id="minGrowthDuration" class="form-control" required></input>
            </div>
            <label class="control-label" for="maxGrowthDuration" translate>maximum_growth_duration</label>
            <div class="controls">
              <input type="text" data-ng-model="vm.plantvariety.maxGrowthDuration" id="maxGrowthDuration" class="form-control" required></input>
            </div>
            <label class="control-label" for="cmInRow" translate>cm_plants_in_row</label>
            <div class="controls">
              <input   type="text" data-ng-model="vm.plantvariety.cmInRow" id="cmInRow" class="form-control" required></input>
            </div>
            <label class="control-label" for="cmBetweenRow" translate>cm_betweem_rows</label>
            <div class="controls">
              <input type="text" data-ng-model="vm.plantvariety.cmBetweenRow" id="cmBetweenRow" class="form-control" required></input>
            </div>
            <label class="control-label" for="file" translate>image</label>
            <div class="text-center form-group">
              <div class="text-center img-container col-md-4">
                <img ng-cropper ng-cropper-options="options" ng-cropper-show="showEvent" ng-cropper-hide="hideEvent" ng-src="{{dataUrl}}" ng-if="dataUrl" style="width:300px">
              </div>
              <span class="btn btn-default btn-file" >
                  <span translate>select_image</span><input type="file" nv-file-select uploader="uploader" class="ng-pristine ng-invalid ng-invalid-required">
              </span>
              <i class="" ng-show="varietyForm.file.$error.required" translate>required</i>
            </div>
            <div class="form-group">
              <label class="control-label" for="file" translate>preview</label>
              <div class="preview-container col-md-4">
                <img ng-if="vm.plantvariety.image" ng-src="{{vm.plantvariety.image}}">
              </div>
            </div>
            <div ng-show="error" class="text-center text-danger">
              <strong ng-bind="error"></strong>
            </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" translate>{{vm.plantvariety._id ? 'update' : 'add'}}</button>
            <a class="btn btn-default" ui-sref="plant-varieties.list" translate>cancel</a>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
</section>
</section>
