<section class="content">
  <section class="container">
<section>
  <div class="page-header">
   <div class="row">
    <div>
      <h1 translate>plant_varieties</h1>
    </div> 
    <div class="col-md-4" style="margin-top: 2em">
      <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
    </div>
   </div>
  <div class="list-group">
    <a ng-repeat="plantvariety in vm.pagedItems" ui-sref="plant-varieties.view({ plantVarietyId: plantvariety._id })" class="list-group-item">
      <small class="list-group-item-text">
            <span translate>{{ 'posted_on'|translate:{date:plantvariety.created} }}</span>
            <span translate>by</span>
        <span ng-if="plantvariety.user" ng-bind="plantvariety.user.displayName"></span>
        <span ng-if="!plantvariety.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="plantvariety.name"></h4>
      <p class="list-group-item-text" ng-bind="plantvariety.crop.name"></p>
    </a>
  </div>
  
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

  <div class="alert alert-warning text-center" ng-if="vm.plant-varieties.$resolved && !vm.plant-varieties.length">
    No plant-varieties yet, why don't you <a ui-sref="plant-varieties.create">create one</a>?
  </div>
</section>
</section>
</section>
