<section class="content">
    <section class="container">
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Vegetable Garden Planner" class="img-responsive text-center" src="{{ 'brand_image'|translate}}" />
				<p class="lead" translate>open_source_vegetable_garden_application</p>
			</div>
		</div>
		<div class="row">
			<p>
				<a ng-if="authentication.user === ''" class="btn btn-primary btn-lg" href="authentication/signup" translate>start_planning now</a>
        		<a ng-if="authentication.user !== ''" class="btn btn-primary btn-lg" href="gardens/list//" translate>start_planning now</a>
			</p>
		</div>
	</div>
	<div>
		<h2 translate>greeting</h2>
		<p>Hier kan je je eigen groententuin ontwerpen en al je plannen bewaren. Het programma zal je assisteren in je keuzes en verwittigd je van belangrijke gebeurtenissen.</p>
		<ul>
			<li>
				Ondek wat anderen zaaien 
			</li>
			<li>
				Ontvang bericht wanneer te planten
			</li>
			<li>
				Pluk de vruchten van wisselteelt zonder vele mislukkingen als leergeld.
			</li>
			<li>
				<a href="https://bitbucket.org/vegetablegardenplanner/vegetablegardenplanner/fork"><img src="/modules/core/client/img/brand/Pitchfork-48.png" />Fork us</a> on bitbucket!
			</li>
		</ul>
	</div>
	<div class="row">
    <div class="col-md-3">
      <h2>
        <strong>O</strong>ntwerp!
      </h2>
      <p><a href="gardens/create">Ontwerp hier</a> je eigen moestuin. </p>
    </div>
		<div class="col-md-3">
			<h2>
				<strong>O</strong>ntdek!
			</h2>
			<p>Doe inspiratie op van andere tuiniers.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>D</strong>eel!
			</h2>
			<p>Deel je ervaringen en kennis.</p>
		</div>
        <div class="col-md-3">
            <h2>
                <strong>G</strong>eniet!
            </h2>
            <p>Iedereen kan groenten kweken!</p>
        </div>
	</div>
	<div class="well">
		<a href="https://www.gnu.org/licenses/agpl-3.0.html#content"><img class="img-thumbnail" src="/modules/core/client/img/brand/agplv3-88x31.png" /> Copyright © AGPL licence</a>
		contact: <a href="mailto:info@vegetablegardenplanner.org">Vegetable Garden Planner Team</a>
	</div>
</section>
</section>
</section>
