<section class="content">
    <section class="container">
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Vegetable Garden Planner" class="img-responsive text-center" src="modules/core/client/img/brand/logo2.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				De Open-Source MOESTUIN Applicatie
			</p>
		</div>
		<div class="row">
			<p>
				<a ng-if="authentication.user === ''" class="btn btn-primary btn-lg" href="authentication/signup">Start nu met plannen</a>
        <a ng-if="authentication.user !== ''" class="btn btn-primary btn-lg" href="gardens/list//">Start nu met plannen</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Welkom</h2>
		<p>Hier kan je je eigen groententuin ontwerpen</p>
		<p>Start hieronder,</p>
		<ul>
			<li>
				Klik
				<em><a href="authentication/signup">SignUp</a></em>
				om te starten.
			</li>
			<li>
				Ontwerp je groententuin en wordt geholpen om de juiste keuzes te maken.
			</li>
			<li>
				Ondek wat je kan zaaien of planten.
			</li>
			<li>
				Pluk de vruchten van wisselteelt zonder vele mislukkingen als leergeld.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
    <div class="col-md-3">
      <h2>
        <strong>O</strong>ntwerp!
      </h2>
      <p><a href="gardens/create">Ontwerp hier</a> je eigen moestuin. </p>
    </div>
		<div class="col-md-3">
			<h2>
				<strong>O</strong>ntdek!
			</h2>
			<p><a target="_blank" href="plant-varieties">Ontdek hier</a> wat je allemaal kan planten of zaaien.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>D</strong>eel!
			</h2>
			<p>Deel je ervaringen en leer van anderen.</p>
		</div>
        <div class="col-md-3">
            <h2>
                <strong>G</strong>eniet!
            </h2>
            <p>Behou overzicht van wat je gedaan hebt en wat er nog plant te doen.</p>
        </div>
	</div>
	<div class="well">
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>Vegetable Garden Planner Team
</section>
</section>
</section>
