<section class="content">
    <section class="container">
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Vegetable Garden Planner" class="img-responsive text-center" src="{{ 'brand_image'|translate}}" />
				<p class="lead" translate>open_source_vegetable_garden_application</p>
			</div>
		</div>
		<div class="row">
			<p>
				<a ng-if="authentication.user === ''" class="btn btn-primary btn-lg" href="authentication/signup" translate>start_planning now</a>
        		<a ng-if="authentication.user !== ''" class="btn btn-primary btn-lg" href="gardens/list//" translate>start_planning now</a>
			</p>
		</div>
	</div>
	<div>
		<h2 translate>greeting</h2>
		<p translate>intro</p>
		<ul>
			<li translate>
				discovery_what_others_sow 
			</li>
			<li translate>
				receive_message_when_plant
			</li>
			<li translate>
				apply_crop_rotation
			</li>
			<li>
				<a href="https://github.com/trendzetter/VegetableGardenPlanner"><img src="/modules/core/client/img/brand/Pitchfork-48.png" />Fork us</a> on GitHub!
			</li>
		</ul>
	</div>
	<div class="row">
    <div class="col-md-3">
      <h2>
		<strong translate>capital_design</strong><el translate>rest_design</el>
      </h2>
	  <p><a href="gardens/create" translate>design_here</a><el translate>your_own_vegetable_garden</el></p>
    </div>
		<div class="col-md-3">
			<h2>
				<strong translate>capital_discover</strong><el translate>rest_discover</el>
			</h2>
			<p translate>become_inspired</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong translate>capital_share</strong><el translate>rest_share</el>
			</h2>
			<p translate>share_knowledge</p>
		</div>
        <div class="col-md-3">
            <h2>
				<strong translate>capital_enjoy</strong><el translate>rest_enjoy</el>
            </h2>
            <p translate>everyone_grow_vegetables</p>
        </div>
	</div>
	<div class="well">
		<a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.html#content"><img class="img-thumbnail" src="/modules/core/client/img/brand/agplv3-88x31.png" /> Copyright © AGPL licence</a>
		contact: <a href="mailto:info@vegetablegardenplanner.org">Vegetable Garden Planner Association</a>
	</div>
</section>
</section>
</section>
