<section class="content">
  <section class="container">
<section>
  <div class="page-header">
    <h1 ng-bind="vm.crop.name"></h1>
  </div>
  <div class="pull-right" ng-show="vm.crop.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="crops.edit({ cropId: vm.crop._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>
    Planten familie: <a ui-sref="plantfamilies.view({plantFamilyId: vm.crop.plantfamily._id})">{{ vm.crop.plantfamily.name }}</a>
  </div>
  <p class="lead">Varïeteiten</p>
  <div ng-repeat="variety in vm.varieties">
    <a ui-sref="plant-varieties.view({plantVarietyId: variety._id})">{{ variety.name }}</a>
  </div>
  <small>
    <em class="text-muted">
        <span translate>{{ 'posted_on'|translate:{date:vm.crop.created} }}</span>
        <span translate>by</span>
      <span ng-if="vm.crop.user" ng-bind="vm.crop.user.displayName"></span>
      <span ng-if="!vm.crop.user">Deleted User</span>
    </em>
  </small>
</section>
</section>
</section>
