<rulers style="transition: all 0.7s ease-out 0s;"/>
<section class="container" data-ng-controller="GardenpartsController" >
        <section class="plantingpart" plantingpart data-ng-init="findOne()" style="width:{{gardenpart.elemwidth*zoom}}px;height:{{gardenpart.elemheight*zoom}}px;top:100px;left:50px; position: absolute">
                <div popover-template="modules/gardenparts/views/popover.client.view.html" popover-template-trigger="customEvent"
                     ng-mouseenter="popoverEvent()" ng-mouseleave="popoverEvent()"
                     popover-template-placement="right" planting context-menu="menuOptions"  id="id{{planting._id}}"
                     ng-controller="PlantingController" ng-repeat="planting in plantings" ng-init="planting=planting"
                     style="z-index: 15; opacity: 1; background: url('/image/{{horizontal*zoom}}/{{vertical*zoom}}/{{planting.orientation}}') repeat scroll 0 0 rgba(0, 0, 0, 0); width: {{ planting.elemwidth*zoom }}px; height: {{ planting.elemheight*zoom }}px; top: {{ planting.elemtop*zoom }}px; left: {{ planting.elemleft*zoom }}px;" />
                <div class="planting" ng-repeat="pastplanting in pastplantings" ng-init="pastplanting=pastplanting"
                     style="background: rgba({{pastplanting.redlevel}}, {{pastplanting.greenlevel}}, 0, {{ pastplanting.opacity }}) 0 0; width: {{ pastplanting.elemwidth*zoom }}px; height: {{ pastplanting.elemheight*zoom }}px; top: {{ pastplanting.elemtop*zoom }}px; left: {{ pastplanting.elemleft*zoom }}px;"
                        />
        </section>
    <div dragtool class="col-md-4">
        <br />
        <form class="form-horizontal" data-ng-submit="updatePlantings()" novalidate>
            <fieldset>
                <div class="input-group">
                    <input type="submit" value="Save" class="btn btn-default">
                    <a class="btn btn-primary" ng-click="zoomIn()">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="zoomOut()">
                        <i class="glyphicon glyphicon-zoom-out"></i>
                    </a>
                    <a class="btn btn-primary" href="/#!/gardens/{{garden.bk}}/{{date}}">
                        <i class="glyphicon glyphicon-step-backward"></i>
                    </a>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
        <uib-accordion id="a1">
            <uib-accordion-group ng-repeat="crop in crops" heading="{{crop.name}}">
                <uib-accordion id="a2">
                    <uib-accordion-group heading="Nested Section 1">Foo</uib-accordion-group>
                    <uib-accordion-group heading="Nested Section 2">Foo</uib-accordion-group>
                    <uib-accordion-group heading="Nested Section 3">Foo</uib-accordion-group>
                 </uib-accordion>
            </uib-accordion-group>
        </uib-accordion>

      <!--  <v-accordion class="vAccordion--default" onexpand="expandCallback(index, id)"  control="accordion">
            <v-pane ng-repeat="crop in crops" >
                <v-pane-header>
                    {{ crop.name }}
                </v-pane-header>
                <v-pane-content>
                     <v-accordion ng-if="crop.plantvarieties">
                         <v-pane ng-repeat="plantvariety in crop.plantvarieties" ng-init="file=plantvariety.image" expanded="$first">
                             <v-pane-header>
                                 {{ plantvariety.name }}
                             </v-pane-header>
                             <v-pane-content >
                                <img plantvarietyimage ng-click="plantVarietyClicked()" class="thumb ng-hide" ng-src="{{plantvariety.image}}" ng-show="file != null">
                                Afstand tussen de rijen: {{ plantvariety.cmBetweenRow }}
                             </v-pane-content>
                         </v-pane>
                     </v-accordion>
                </v-pane-content>
            </v-pane>

        </v-accordion>-->

    </div>
</section>
