<rulers style="transition: all 0.7s ease-out 0s;"/>
<section class="container">
        <section class="plantingpart" zoomable style="width:{{vm.gardenpart.elemwidth*vm.zoom}}px;height:{{vm.gardenpart.elemheight*vm.zoom}}px;top:100px;left:50px; position: absolute">
                <div uib-popover-template="'modules/gardenparts/client/views/pop-future-planting.client.view.html'" popover-placement="right" popover-trigger="mouseenter"
                    planting="future" context-menu="menuOptions" ng-controller="PlantingController" ng-repeat="planting in vm.gardenpart.futureplantings" ng-init="planting=planting"
                     style="z-index: 15; opacity: 0.6; background: url('/api/image/{{horizontal*vm.zoom}}/{{vertical*vm.zoom}}/{{planting.orientation}}') repeat scroll 0 0 rgba(0, 0, 0, 0); box-shadow:0px 0px 0px 3px blue inset; width: {{ planting.elemwidth*vm.zoom }}px; height: {{ planting.elemheight*vm.zoom }}px; top: {{ planting.elemtop*vm.zoom }}px; left: {{ planting.elemleft*vm.zoom }}px;" />
                <div uib-popover-template="'modules/gardenparts/client/views/popover.client.view.html'" popover-placement="right" popover-trigger="mouseenter"
                    planting context-menu="menuOptions" ng-controller="PlantingController" ng-repeat="planting in vm.gardenpart.plantings" ng-init="planting=planting"
                     style="z-index: 15; opacity: 1; background: url('/api/image/{{horizontal*vm.zoom}}/{{vertical*vm.zoom}}/{{planting.orientation}}') repeat scroll 0 0 rgba(0, 0, 0, 0); box-shadow:0px 0px 0px 3px blue inset; width: {{ planting.elemwidth*vm.zoom }}px; height: {{ planting.elemheight*vm.zoom }}px; top: {{ planting.elemtop*vm.zoom }}px; left: {{ planting.elemleft*vm.zoom }}px;" />
                <div class="past-planting" ng-repeat="pastplanting in vm.gardenpart.pastplantings" ng-init="pastplanting=pastplanting"
                     style="background: rgba({{pastplanting.redlevel}}, {{pastplanting.greenlevel}}, 0, {{ pastplanting.opacity }}) 0 0; width: {{ pastplanting.elemwidth*vm.zoom }}px; height: {{ pastplanting.elemheight*vm.zoom }}px; top: {{ pastplanting.elemtop*vm.zoom }}px; left: {{ pastplanting.elemleft*vm.zoom }}px;"
                        />
        </section>

   <div dragtool="{{date}}" class="col-md-4">
        <form class="form-horizontal" data-ng-submit="updatePlantings()" novalidate>
            <fieldset>
                <div class="input-group">
                    <a class="btn btn-default" ng-click="zoomIn()">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                    <a class="btn btn-default" ng-click="zoomOut()">
                        <i class="glyphicon glyphicon-zoom-out"></i>
                    </a>
                    <a class="btn btn-default" ui-sref="viewGarden({'bk': vm.gardenpart.garden.bk, 'selectedDate': vm.selectedDate})">
                        <i class="glyphicon glyphicon-step-backward"></i>
                    </a>
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
        <uib-accordion id="crops" close-others="true">
              <uib-accordion-group ng-repeat="crop in vm.crops" heading="" ng-init="crop.open = $first" is-open="crop.open"  ng-click="cropClicked(crop._id)">
              <uib-accordion-heading ng-click="cropClicked(crop._id)">
                <div>
                   {{crop.name}}
                   <i class="pull-right glyphicon"
                      ng-class="{'glyphicon-chevron-down': crop.open, 'glyphicon-chevron-right': !crop.open}">
                   </i>
                 </div>
                </uib-accordion-heading>
                <uib-accordion id="plantvarieties" close-others="true">
                    <uib-accordion-group ng-repeat="plantvariety in crop.plantvarieties" ng-init="plantvariety.open = $first" heading="{{plantvariety.name}}" ng-init="plantvariety.open = $first" is-open="plantvariety.open">
                      <uib-accordion-heading ng-click="plantvariety.open=!plantvariety.open">
                        <div>
                           {{plantvariety.name}}
                           <i class="pull-right glyphicon"
                              ng-class="{'glyphicon-chevron-down':plantvariety.open, 'glyphicon-chevron-right': !plantvariety.open}">
                           </i>
                         </div>
                      </uib-accordion-heading>
                      <img plantvarietyimage ng-click="plantVarietyClicked()" class="thumb" ng-src="{{plantvariety.image}}" >
                    </uib-accordion-group>
                 </uib-accordion>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</section>
