
    <div class="modal-header">
        <h1>Selecteer teeltwijze</h1>
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button> 
    </div>
    <div class="modal-body" >
         <form class="form-horizontal" data-ng-submit="applyCultivationPlan()" novalidate>
            <fieldset>
         <p ng-repeat="cultivationPlan in cultivationPlans" class="panel-group-item" ng-class-odd="odd" ng-class-even="even" >
                <input type="radio" name="cultivationPlans" value="{{cultivationPlan._id}}" ng-value="cultivationPlan._id" ng-model="planting.cultivationPlan" />
                {{cultivationPlan.title}}
         </p>
        <div class="panel-group">
            <input type="submit" class="btn btn-default" value="Toepassen" ng-if="cultivationPlans.$resolved && cultivationPlans.length">
        </div>
        <div class="alert alert-warning text-center" ng-if="cultivationPlans.$resolved && !cultivationPlans.length">
            No cultivation plans yet, why don't you <a ng-click="createNew()" >create one</a>?
            
        </div>
            </fieldset>
         </form>
           <!-- <div class="panel-group">
                <a ng-repeat="cultivationPlan in vm.cultivationPlans" ui-sref="cultivation-plans.view({ cultivationPlanId: cultivationPlan._id })" class="panel-group-item">
                <small class="panel-group-item-text">
                    Posted on
                    <span ng-bind="cultivationPlan.created | date:'mediumDate'"></span>
                    by
                    <span ng-if="cultivationPlan.user" ng-bind="cultivationPlan.user.displayName"></span>
                    <span ng-if="!cultivationPlan.user">Deleted User</span>
                </small>
                <h4 class="panel-group-item-heading" ng-bind="cultivationPlan.title"></h4>
                <p class="panel-group-item-text" ng-bind="cultivationPlan.description"></p>
                </a>
            </div>
            <div class="alert alert-warning text-center" ng-if="vm.cultivationPlans.$resolved && !vm.cultivationPlans.length">
                No cultivation plans yet, why don't you <a ui-sref="cultivation-plans.create">create one</a>?
            </div>-->
    </div>
