
    <div class="modal-header">
        <h1>Selecteer teeltplan</h1>
    </div>
    <div class="modal-body">
         <p>Some text in the modal.</p>
         <p ng-repeat="cultivationPlan in planting.cultivationPlans" class="panel-group-item">
             test
         </p>
           <!-- <div class="panel-group">
                <a ng-repeat="cultivationPlan in vm.cultivationPlans" ui-sref="cultivation-plans.view({ cultivationPlanId: cultivationPlan._id })" class="panel-group-item">
                <small class="panel-group-item-text">
                    Posted on
                    <span ng-bind="cultivationPlan.created | date:'mediumDate'"></span>
                    by
                    <span ng-if="cultivationPlan.user" ng-bind="cultivationPlan.user.displayName"></span>
                    <span ng-if="!cultivationPlan.user">Deleted User</span>
                </small>
                <h4 class="panel-group-item-heading" ng-bind="cultivationPlan.title"></h4>
                <p class="panel-group-item-text" ng-bind="cultivationPlan.description"></p>
                </a>
            </div>
            <div class="alert alert-warning text-center" ng-if="vm.cultivationPlans.$resolved && !vm.cultivationPlans.length">
                No cultivation plans yet, why don't you <a ui-sref="cultivation-plans.create">create one</a>?
            </div>-->
    </div>
