<section class="content">
  <section class="container">
<section>
  <div class="page-header">
    <h1 ng-bind="vm.cultivationPlan.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.cultivationPlan.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="cultivation-plans.edit({ cultivationPlanId: vm.cultivationPlan._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
        <span translate>{{ 'posted_on'|translate:{date:cultivationPlan.created} }}</span>
        <span translate>by</span>
      <span ng-if="vm.cultivationPlan.user" ng-bind="vm.cultivationPlan.user.displayName"></span>
      <span ng-if="!vm.cultivationPlan.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.cultivationPlan.description"></p>
  <p class="content">
    <label>Gewas:</label>
    <span ng-bind="vm.cultivationPlan.crop.name"></span>
    <label>Varieteit:</label>
    <span ng-bind="vm.cultivationPlan.variety.name"></span>
  </p>
  <div ng-repeat="step in vm.cultivationPlan.steps" ng-class-odd="'odd'" ng-class-even="'even'" class="panel panel-default">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" ng-src="{{step.icon}}" >
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Stap {{$index + 1}}: {{step.title}}</h4>
          ter plaatse? {{step.inplace?"Ja":"Nee"}}<br>
          <span>Minimale duur: {{step.minduration}} dagen. Maximale duur: {{step.maxduration}}</span><br>
          Beschrijving: <p style="white-space: pre-wrap;" ng-bind="step.description"></p><br>
        </div>
      </div>
  </div>
</section>
</section>
</section>
