<section class="content">
  <section class="container">
<section>
  <div class="page-header">
    <h1 translate>plant_families</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="plantfamily in vm.plantfamilies" ui-sref="plantfamilies.view({ plantFamilyId: plantfamily._id })" class="list-group-item">
      <small class="list-group-item-text">
        <span translate>{{ 'posted_on'|translate:{date:plantfamily.created} }}</span>
        <span translate>by</span>
        <span ng-if="plantfamily.user" ng-bind="plantfamily.user.displayName"></span>
        <span ng-if="!plantfamily.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="plantfamily.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.plantfamilies.$resolved && !vm.plantfamilies.length">
    No plantfamilies yet, why don't you <a ui-sref="plantfamilies.create">create one</a>?
  </div>
</section>
</section>
</section>
